html,body,:root,#root {
  /* background-color: #ced4da; */
  /* height: 100vh; */
  background-image: url(assets/background1.jpg);
  background-position: center;
  background-size: cover;
}
#logbtn,#regbtn{
  background-color: rgb(25, 135, 84);
  color: white;
}
#logbtn:hover,#regbtn:hover{
  background-color: green;
  color: white;
  box-shadow:  0px 0px 20px 1px rgba(0,0,0,1);
}
#footerh3{
  font-size: 1.5rem;
}
@media (max-width:700px){
  table>thead>tr>th{
    font-size: 10px;
  }
  table>tbody>tr>td{
    font-size: 8px;
  }
  table>tbody>tr>td>.btn{
    font-size: 10px;
  }
  #footerh3{
    font-size: 15px;
  }
}
form span {
  color:red;
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
